<!DOCTYPE html>
<html>
  <head>
    <title>SignUp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/javascripts/connect.js"></script>
  </head>
  <body>
    <h1>Hi Baby</h1>
    <a href="/users/login" role="button">Login</a><br>
    <a href="/users/signup" role="button">Signup</a><br>
    <a href="/users/list" role="button">List of user</a><br>
    <a href="/users/online" role="button">Online user</a><br>
    <a href="/passport" role="button">Require passpost link</a><br>
    <a href="/comment" role="button">Comments</a><br>
  </body>
</html>
